body {
  @include indents-none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $main-text;
  background-color: $main-background;
}

a {
  color: $main-text;
  text-decoration: none;
}
