$main-background: #FFFFFF;
$main-text: #48494D;
$background: #F5F5F9;
$button: #D12136;
$button-hover: #BD0C21;
$border: #D7D9DF;
$star: #BDBEC2;
$error: #FF0000;
$cross: #9F9E9E;

$desktop-width: 1280px;
$responsive-width: 1024px;
$min-content-width: 769px;
