.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 780px;
  padding-top: 30px;
}

.contacts__list {
  @include list-reset;
  @include indents-none;

}

.contacts__item {
  margin-bottom: 32px;
}

.contacts__item:first-child .contacts__text--title {
  margin-bottom: 17px;
}

.contacts__text {
  @include indents-none;

  &--title {
    @include font-weight(700);
    margin-bottom: 13px;
    line-height: 10px;
  }

  &--value {
    @include font-weight(600);
    display: block;
    font-size: 14px;
    line-height: 19px;
  }
}

@media (min-width:$min-content-width) and (max-width:$responsive-width) {

  .contacts {
    max-width: 100%;
  }

  .contacts__list {
    width: 34%;
  }
}
