.details__wrapper {
  padding-left: 3px;
  margin-bottom: 37px;
}

.details__title {
  @include indents-none;
  @include font-weight(700);
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 38px;
}

.details__feature-list {
  @include indents-none;
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 37px;
}

.details__feature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 70px;
  min-height: 65px;
  margin-right: 7px;
  text-align: center;
  opacity: 0.5;

  &:last-child {
    margin-right: 0;
  }
}

.details__feature-title {
  @include indents-none;
}

.details__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.details__sum {
  @include indents-none;
  @include font-weight(700);
  font-size: 35px;
  line-height: 48px;
}

.details__old-sum {
  @include indents-none;
  position: relative;
  margin-left: 33px;
  margin-top: 3px;
  font-size: 20px;
  line-height: 28px;
  opacity: 0.5;

  &::before {
    content: "";
    position: absolute;
    bottom: 14px;
    left: -3px;
    width: 123px;
    height: 1px;
    background-color: $main-text;
    transform: rotate(-5deg);
  }
}

.details__button {
  margin-bottom: 16px;
}
