.header {
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: $background;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 56px;
}

.header__navigation {
  flex-grow: 1;
  padding-top: 2px;
}

.header__logo {
  margin-right: 20px;
}

.header__logo img {
  display: block;
}

@media (min-width:$min-content-width) and (max-width:$responsive-width) {
  .header__wrapper {
    padding: 0 3.8%;
  }
}
