.menu {
  @include list-reset;
  @include indents-none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &--header {
    justify-content: flex-end;
  }
}

.menu--header .menu__item  {
  margin-right: 69px;
}

.menu--footer .menu__item {
  margin-right: 67px;
}

.menu__item {
  margin-bottom: 3px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.menu__link {
  @include font-weight(600);
  display: block;
  padding: 5px 0;
}

@media (min-width:$min-content-width) and (max-width:$responsive-width) {
  .menu--header .menu__item  {
    margin-right: 6.7%;
  }

  .menu--footer .menu__item {
    margin-right: 5.7%;
  }

  .menu__item {
    &:last-child {
      margin-right: 0;
    }
  }
}

